body
{
	background:#00CED1;
	margin:0;
	padding:0;
	
}
th{
	font-size:30px;
	font-weight:bold;
	font-color:red;
	background:#FF8C00;
}
marquee
{
	
	font-weight:bold;
	font-size:20px;
}