body{
	margin:0;
	padding:0;
	background:#FF4500;
}
label{
	background:black;
	color:white;
	font-family:Helvetica;
	font-size:20px;
	
}
search-box 
{
	width:50px;
	height:50px;
	background:white;
	
}
table, th, td {
  border: 1px solid black;
}

